<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EFNETServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EFNETServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.6.10/efnetservice/eferpservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="EFNETServiceSoap"
          contract="sr.EFNETServiceSoap" name="EFNETServiceSoap" />
      <endpoint address="http://192.168.6.10/efnetservice/eferpservice.asmx"
          binding="customBinding" bindingConfiguration="EFNETServiceSoap12"
          contract="sr.EFNETServiceSoap" name="EFNETServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>